In [1]:
import pandas as pd
pd.DataFrame({"A":[1,2],"B":[3,4],"C":[5,6]}, index=[1,2])

   A  B  C
1  1  3  5
2  2  4  6

In [4]:
pd.DataFrame([[1,2,3],[4,5,6]],[7,8.9],[10,11,12], index=range(1,5), columns=["A","B","C"])

TypeError: __init__() got multiple values for argument 'index'

In [5]:
pd.Series({"한국":"서울","일본":"도쿄","중국":"베이징"})

한국     서울
일본     도쿄
중국    베이징
dtype: object