In [6]:
import pandas as pd
import pandas as pd
import numpy as np
import random
import string
np.random.seed(56)
pd.DataFrame({"A":[1,2],"B":[3,4],"C":[5,6]}, index=[1,2])

   A  B  C
1  1  3  5
2  2  4  6

In [4]:
pd.DataFrame([[1,2,3],[4,5,6]],[7,8.9],[10,11,12], index=range(1,5), columns=["A","B","C"])

TypeError: __init__() got multiple values for argument 'index'

In [5]:
pd.Series({"한국":"서울","일본":"도쿄","중국":"베이징"})

한국     서울
일본     도쿄
중국    베이징
dtype: object

In [7]:
def id():
    return ''.join(random.choice(string.ascii_letters) for i in range(5))

In [8]:
def score():
    return np.random.randint(0,100)

In [19]:
pd.DataFrame({"국어":[score()for i in range(10)],"영어":[score()for i in range(10)],"수학":[score()for i in range(10)],"사회":[score()for i in range(10)],}, index=[id() for i in range(10)])

       국어  영어  수학  사회
zcNBB  33  96  79  27
MOwzM  87  72  31  78
xIQCD  88  15  65  20
UWNRh  29  37  19  51
rFLfV  52  51  47  73
vYqYh  27  24  83  39
jPQNQ  86  32  66  86
IeAmj  34  90  69  23
HELCY  90  26  69  87
ooCuC  85  91  97  46

In [21]:
A=pd.DataFrame({"국어":[score()for i in range(10)],"영어":[score()for i in range(10)],"수학":[score()for i in range(10)],"사회":[score()for i in range(10)],}, index=[id() for i in range(10)])

In [22]:
pd.melt(A)

   variable  value
0        국어     48
1        국어     84
2        국어     62
3        국어     72
4        국어     25
5        국어     96
6        국어      1
7        국어     75
8        국어     65
9        국어     67
10       영어     22
11       영어     69
12       영어     66
13       영어     22
14       영어     39
15       영어     61
16       영어     43
17       영어     71
18       영어     57
19       영어     94
20       수학     15
21       수학      3
22       수학     35
23       수학     14
24       수학     88
25       수학     24
26       수학     56
27       수학     41
28       수학     94
29       수학     77
30       사회     62
31       사회     85
32       사회      1
33       사회      5
34       사회     74
35       사회     18
36       사회     48
37       사회     40
38       사회     55
39       사회     31

In [23]:
B=pd.melt(A)

In [27]:
pd.pivot(B,columns ="var", values='val')

KeyError: 'var'

In [35]:
pd.DataFrame([[score()for i in range()]], index=[id()for i in range(10)], columns={"국어","영어","수학","사회"})

TypeError: range expected 1 argument, got 0